/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* moje */

body {
	background-image: url(../img/drzewo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top:120px;
	font-size: 16px;
}
p, h3, ul#kwal li, h2 {
	font-family: Garamond, Georgia, serif;
	/*wersja gradient
	color: #535353;
	*/
}
h3, h2 {
	font-weight: bold;
	}
h3 {	
	font-size: 1.9em;
	color: white;
	display: inline-block;
}
h2 {
	color:#000;
	font-size: 1.3em;
	padding-bottom: 5px;
}
.navbar {
	background-color: #2E4C2E;
	border-color: #2E4C2E;
	opacity: 0.9;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: white;
}
.dropdown-menu {
	background-color: #2E4C2E;
	opacity: 0.9;
}
.dropdown-menu > li > a {
	color:white;
	font-size: 1.3em;
}
.col-md-3 {
	width: 23%;
	margin: 1% 1% 2%;
    height: 35%;
    /*
	background: -moz-linear-gradient(left top, #1f331f, #fff);
	background: -webkit-linear-gradient(#adffad, #fff);
	background: -ms-linear-gradient(#adffad, #fff);
	background: -o-linear-gradient(#adffad, #fff);
	background: -linear-gradient(#adffad, #fff);
 */
    background: -moz-radial-gradient(left top, #1f331f,#5C995C);
    background: -webkit-radial-gradient(left top, #1f331f,#fff);
    background: radial-gradient(left top, #1f331f,#fff);
    border-radius: 5% 20%;
    opacity: 0.8;
    /*
	outline: 5px solid #4c804c;*/  
	padding: 3%;
}

.col-md-12 {
	background-color: #F8F8F8;
	padding: 80px 130px;
}
.col-md-12#aspiracje, .col-md-12#kwalifikacje, 
.col-md-12#edukacja {
	padding-bottom: 0px;
}
.col-md-12#portfolio, .col-md-12#kwalifikacje, 
.col-md-12#skills {
	padding-top: 40px;
}
p {
	font-size: 1.2em;
	padding: 5px 0 2px;
}
#dane, .footer {
	background-color: #2E4C2E;
	color:#F8F8F8;
}
#aspiracje, #kwalifikacje, #portfolio {
	background-color: #000;
	color: #FFF5EE;
	opacity: 0.9;
}
#historia {
	background-color: #99C199;
	opacity:1;
}
.italic {
	font-style: italic;
}
.container {
	margin-bottom: 6%;
}
.container#dwa {
	margin-top: 6%;
}
.container#dwa h2 {
    color: #2E4C2E;
    font-size: 1.4em;
}
.col-md-8 {
	background-color: #E6F0E6;
	padding: 20px 50px 30px;
	margin-top: 2%;
}
.nav-tabs li a {
	color: #001400;
}
p.italic {
	padding-bottom: 15px;
	font-weight: bold;
}
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus
{
	background-color: #E6F0E6;
}
.nav-tabs li.active a:focus {
	color:#000;
}
.footer .container {
	margin-bottom: 0%;
}
.footer .container p {
	font-size: 1em;
	line-height: 200%;
}